.contact-body {
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
    background:   #2C3E50;  
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  
    background: linear-gradient(to right, #4CA1AF, #2C3E50); 
}

.contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px;
    color: black;
    margin-bottom: 20px;
}

.contact-grid h2 {
    font-family: 'Courgette', cursive;
}

.contact-grid h5 {
    font-family: 'Courgette', cursive;

}

.image {
    width: 300px;
    padding-top: 15px;
    padding-left: 15px;
}

.text {
    width: 65%;
    /* float: left; */
    color: white;
    text-align: center;
}

.contact-list i {
    font-size: 60px;
    padding-right: 5rem;
}

.contact-body {
   display: flex;
   justify-content: space-evenly;
}

.contact-info {
    margin-top: -17px;
}