.nav-colors {
  background: #2C3E50;  
  background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  
  background: linear-gradient(to right, #4CA1AF, #2C3E50); 
}

.drawer {
  background:   #2C3E50;  
  background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  
  background: linear-gradient(to right, #4CA1AF, #2C3E50); 
  text-decoration: none;
  color: black;
}
.header {
  text-decoration: none;
  color: white;
}

.drawer-title {
  text-decoration: none;
  color: white;
}
